        <script type="text/x-jquery-tmpl" id="template-cubes">
            <select class="cubes">
                <option value="">Select a cube</option>
                <% _.each(connections, function(connection) { %>
                    <% _.each(connection.catalogs, function(catalog) { %>
                        <% _.each(catalog.schemas, function(schema) { %>
                            <optgroup label="<%= ( schema.name != "" ? schema.name : catalog.name) +'  (' + connection.name + ')' %>">
                            <% _.each(schema.cubes, function(cube) { %>
                                <option value="<%= connection.name %>/<%= catalog.name %>/<%=  ((schema.name == '' || schema.name == null) ? 'null' : schema.name)  %>/<%= encodeURIComponent(cube.name) %>"><%= cube.name %></option>
                            <% }); %>
                            </optgroup>
                        <% }); %>
                    <% }); %>
                <% }); %>
            </select>
        </script>