
        <script type="text/x-jquery-tmpl" id="template-selections">
            <div class="available_selections">
                Available members:<br/>
                <select multiple disabled>
                </select>
            </div>
            <div class="selection_buttons">
                <a class="form_button" href="#move_selection" id="add_members">&nbsp;&gt;&nbsp;</a><br><br>
                <a class="form_button" href="#move_selection" id="add_all_members">&gt;&gt;</a><br><br>
                <a class="form_button" href="#move_selection" id="remove_all_members">&lt;&lt;</a><br><br>
                <a class="form_button" href="#move_selection" id="remove_members">&nbsp;&lt;&nbsp;</a>
            </div>
            <div class="used_selections">
                Used members:<br/>
                <select multiple disabled></select>
            </div>
            <div class="options">
                <input name="show_unique" id="show_unique" type="checkbox" /><label for="show_unique">Show Unique Names</label>
            </div>
        </script>