       <script type="text/x-jquery-tmpl" id="template-workspace-toolbar">
        <ul>
            <li><a href="#save_query" 
                class="i18n save button disabled_toolbar sprite" 
                title="Save query"></a></li>
            <li class="seperator"><a href="#run_query" 
                class="i18n run button disabled_toolbar sprite" 
                title="Run query"></a></li>
            <li><a href="#automatic_execution" 
                class="i18n auto button disabled_toolbar sprite" 
                title="Automatic execution"></a></li>
            <li><a href="#toggle_fields" 
                class="i18n toggle_fields button sprite"
                title="Toggle fields"></a></li>
            <li><a href="#toggle_sidebar" 
                class="i18n toggle_sidebar button sprite" 
                title="Toggle sidebar"></a></li>
            <li class="seperator"><a href="#non_empty" 
                class="i18n non_empty button disabled_toolbar sprite"  
                title="Non-empty"></a></li>
            <li><a href="#swap_axis" 
                class="i18n swap_axis button disabled_toolbar sprite" 
                title="Swap axis"></a></li>
            <li><a href="#show_mdx" 
                class="i18n mdx button disabled_toolbar sprite" 
                title="Show MDX"></a></li>
            <li class="seperator"><a href="#query_scenario" 
                class="i18n table_mode query_scenario button disabled_toolbar sprite" 
                title="Query Scenario"></a></li>
            <li class="seperator"><a href="#drillthrough" 
                class="i18n table_mode drillthrough button disabled_toolbar sprite" 
                title="Drill through current query"></a></li>
            <li><a href="#export_drillthrough" 
                class="i18n table_mode drillthrough_export button disabled_toolbar sprite" 
                title="Export Drill-Through result of current query to CSV"></a></li>
            <li class="seperator"><a href="#export_xls" 
                class="i18n export_xls button disabled_toolbar sprite" 
                title="Export XLS"></a></li>
            <li><a href="#export_csv" 
                class="i18n export_csv button disabled_toolbar sprite" 
                title="Export CSV"></a></li>
        </ul>
        </script>